.example-card {
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.fab-button{
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}