<mat-drawer-container>
    <div>
        <mat-card>
            <mat-card-header>
                <div>
                    <img align = "center" src="{{data.image}}">
                </div>
                
                <div class = "info">
                    <p>{{data.name}} {{data.last_name}}</p>
                    <p>{{data.email}}</p>
                    <p>{{data.phone}}</p>
                </div>
                
            </mat-card-header>
        </mat-card>
    </div>
</mat-drawer-container>
    