<mat-drawer-container>
    <div>
        <mat-card *ngIf="dataExists">
            <mat-card-header>
                <div>
                    <img align = "center" src="{{data.image}}">
                </div>

                <div class = "info">
                    <p>{{data.name}} {{data.last_name}}</p>
                    <p>{{data.email}}</p>
                    <p>{{data.phone}}</p>
                </div>
            </mat-card-header>
            <button *ngIf="!userStatus" (click)="sendEmail()" class="buttonRouter" mat-flat-button color="warn">Reenviar confirmación al correo electrónio</button>
        </mat-card>
    </div>
</mat-drawer-container>
    