<body>
    <div>
        <div>
            <img align="right" src="../assets/img/perrito.png">
        </div>
        
        <div class="header">
            ¡Error al verificar correo electrónico!
        </div>
        <div class="box__body">
            <p>Intenta solicitar el reenvio del correo verificación en tu perfil</p>
            <div align="right" class="button__align">
                <button (click)="goProducts()">Ir a la Tienda ➜</button>
            </div>
        </div>
        
    </div>
</body>