<div *ngIf="auth; else elseBlock">
    <mat-toolbar>
            <img (click)="goFrontPage()" class="logo" src="../../../../assets/img/75719d1b-b4e1-43b8-8558-b83da92fd2a4-removebg-preview.png">
            <span class="example-spacer"></span>
            <span>{{data.username}}</span>
            <button mat-icon-button aria-label="Ir a la cuenta" (click)="goUser()">
                <mat-icon>account_circle</mat-icon>
            </button>
    </mat-toolbar>
</div>
<ng-template #elseBlock>
    <div>
        <mat-toolbar>
            <span>
                <img class="logo" src="../../../../assets/img/75719d1b-b4e1-43b8-8558-b83da92fd2a4-removebg-preview.png">
            </span>
            <span class="example-spacer"></span>
            <button mat-stroked-button color="warn" class="margin" (click)="goRegister()">Nuevo vendedor</button>
            <button mat-raised-button color="warn" class="margin" (click)="goLogin()">Inicia sesión!</button>
        </mat-toolbar>
    </div>
</ng-template>