<mat-drawer-container>
    <div>
        <mat-card>
            <mat-card-header>
                <img class = "ImgProduct" src="{{data.post_image_url}}">
                <div class = "info">
                    <p>{{data.title}}</p>
                    <br>
                    <p>{{data.description}}</p>
                </div>
                <div class = "user">
                    <img class = "ImgUser" src="{{data.user_image_url}}">
                    <p class = >{{data.user_name}}</p>
                </div>
            </mat-card-header>
        </mat-card>
        
    </div>
</mat-drawer-container>