.section {
    height: 100%;
    background: rgb(255, 187, 148);
}

.center__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

button{
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 169px;
    font-size: 20px;
}
  
.button__align{
    margin-right: 200px;
}

.text__design{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}