<mat-drawer-container fullscreen>

    <mat-drawer class="barnav" mode="side" opened>
        <div class="altura">
            <img class="logo" src="../../../../assets/img/75719d1b-b4e1-43b8-8558-b83da92fd2a4-removebg-preview.png">
            <br><br><br>
            <mat-form-field class="center">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Buscar producto</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-form-field class="center" appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select [(value)]="selected">
                  <mat-option>Todas</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="center">
                <button mat-raised-button color="warn" (click)="addCategoria()">Buscar</button>
            </div>
        </div>
        <div>
            <div class="center">Página {{currentPage}} de {{finalPage}}</div>
            <div class="center">
            <button mat-icon-button (click)="goFirstPage()" [disabled]="disabledFirst">
                <mat-icon>first_page</mat-icon>
            </button>
            <button mat-icon-button (click)="goBackPage()" [disabled]="disabledBack">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="goNextPage()" [disabled]="disabledNext">
                <mat-icon>chevron_right</mat-icon>
            </button>
            <button mat-icon-button (click)="goEndPage()" [disabled]="disabledEnd">
                <mat-icon>last_page</mat-icon>
            </button>
            </div>
        </div>
        
    </mat-drawer>

    <mat-drawer-content>
        
        <app-toolbar></app-toolbar>
        <div class="row">
            <mat-card class="order" *ngFor="let product of Products" (click)="goViewProduct(product.id)">
                <div class="column">
                <mat-card-header>
                    <img mat-card-avatar src="{{product.user_image_url}}">
                    <mat-card-title>{{product.title}}</mat-card-title>
                    <mat-card-subtitle>{{product.user_username}}</mat-card-subtitle>
                </mat-card-header>
                <img align="center" mat-card-image src="{{product.post_image_url}}">
                <mat-card-content>
                    <p class="font" align="center">
                        {{product.description}}
                    </p>
                </mat-card-content>
                </div>
            </mat-card>
        </div>

    </mat-drawer-content>

</mat-drawer-container>