<mat-drawer-container fullscreen>
    <mat-drawer class="barnav" mode="side" opened>
        <!-- <h1 class="text__design">Shop Π</h1> -->
        <img class="logo" src="../../../../assets/img/75719d1b-b4e1-43b8-8558-b83da92fd2a4-removebg-preview.png">
        <br>
        <mat-form-field class="text__design">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Buscar producto</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <p class="text__design">Lorem, ipsum dolor sit amet consectetur.</p>
    </mat-drawer>

    <mat-drawer-content>
        <app-toolbar></app-toolbar>
        <div class="row">
            <mat-card class="order" *ngFor="let product of Products" (click)="viewProduct(product.id)">
                <div class="column">
                <mat-card-header>
                    <img mat-card-avatar src="{{product.user_image_url}}">
                    <mat-card-title>{{product.title}}</mat-card-title>
                    <mat-card-subtitle>{{product.user_username}}</mat-card-subtitle>
                </mat-card-header>
                <img align="center" mat-card-image src="{{product.post_image_url}}">
                <mat-card-content>
                    <p class="font" align="center">
                        {{product.description}}
                    </p>
                </mat-card-content>
                </div>
            </mat-card>
        </div>


    </mat-drawer-content>

</mat-drawer-container>