<mat-drawer-container class="section" fullscreen>
    <mat-drawer class="example-sidenav" mode="side" opened>
        <h1>Shop Π</h1>

        <mat-form-field class="example-form-field">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Buscar producto</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
    </mat-drawer>

    <mat-drawer-content>
        <app-toolbar></app-toolbar>
        <div>
            <mat-card *ngFor="let product of Products" (click)="viewProduct(product.id)">
                <mat-card-header>
                    <img mat-card-avatar src="{{product.user_image_url}}">
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>{{product.title}}</mat-card-title>
                    <mat-card-subtitle>{{product.user_username}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{product.post_image_url}}">
                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>


    </mat-drawer-content>

</mat-drawer-container>