<app-toolbar></app-toolbar>

<div>
    
    <router-outlet></router-outlet>
    
    <footer>

        <div class="container__footer">
    
        <div class="box__footer">
            <h2>Product</h2>
            <a href="https://www.instagram.com/isac_with_1_a/">Overview</a>
            <a href="https://www.instagram.com/nosoylow/">Features</a>
            <a href="https://www.instagram.com/solamente_rondalla/">Tutorials</a>
            <a href="https://www.instagram.com/nosoylow/">Pricing</a>
            <a href="https://www.instagram.com/nosoylow/">Releases</a>
        </div>
    
        <div class="box__footer">
            <h2>Company</h2>
            <a href="https://www.instagram.com/isac_with_1_a/">About</a>
            <a href="https://www.instagram.com/nosoylow/">Press</a>
            <a href="https://www.instagram.com/solamente_rondalla/">Careers</a>
            <a href="https://www.instagram.com/nosoylow/">Contact</a>
            <a href="https://www.instagram.com/nosoylow/">Partners</a>
        </div>
    
        <div class="box__footer">
            <h2>Legal</h2>
            <a href="https://www.instagram.com/isac_with_1_a/">Cookies Policy</a>
            <a href="https://www.instagram.com/nosoylow/">Privacy Policy</a>
            <a href="https://www.instagram.com/solamente_rondalla/">Terms of Service</a>
            <a href="https://www.instagram.com/nosoylow/">Law Enforcement</a>
            <a href="https://www.instagram.com/nosoylow/">Status</a>
        </div>
        <div class="box__footer">
            <h2>Follow us</h2>
            <a href="https://www.instagram.com/isac_with_1_a/">Facebook</a>
            <a href="https://www.instagram.com/nosoylow/">Twitter</a>
            <a href="https://www.instagram.com/solamente_rondalla/">Instagram</a>
            <a href="https://www.instagram.com/nosoylow/">Dribbble</a>
            <a href="https://www.instagram.com/nosoylow/">Linkedin</a>
        </div>
        </div>
        <div align="center" class="logo">
        <img src="../../../assets/img/75719d1b-b4e1-43b8-8558-b83da92fd2a4-removebg-preview.png" alt="">
        </div>
        <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados ©2022
        <b>SHOPPITeam</b></p>
        </div>
    </footer>
</div>